:host {
  select {
    width: 250px;
    padding: 4px;
  }

  input {
    width: 250px;
    padding: 0 4px;
  }

  h4 {
    margin: 0;
  }

  .form {
    margin-top: 30px;
  }

  .title {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 30px;
    background-color: #dedede;
  }

  .error {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: red;
  }
}
